body{
    background-color: lavender;
    text-align: center;

}
form{
    width: 400px;
    height: 200px;
    background-color: beige;
    margin-left: 500px ;
    margin-top: 200px;
    border-radius: 30px;
    padding: 6px;
}